<input class="locationInput" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" size="50"/>

<div class="classWeather">  
    <div *ngIf="WeatherData.weatherOverview == 'Clouds'" class="weatherWidgetRow cloudDiv1">
        <i class="fas fa-cloud fa-6x cloud"></i>
    </div>
    <div *ngIf="WeatherData.weatherOverview == 'Clouds'" class="weatherWidgetRow cloudDiv2">
        <i class="fas fa-cloud fa-6x cloud"></i>
    </div>
    <div *ngIf="WeatherData.weatherOverview == 'Clouds'" class="weatherWidgetRow cloudDiv3">
        <i class="fas fa-cloud fa-6x cloud"></i>
    </div>
    <div *ngIf="WeatherData.weatherOverview == 'Clouds'" class="weatherWidgetRow cloudDiv4">
        <i class="fas fa-cloud fa-6x cloud"></i>
    </div>
    <div *ngIf="WeatherData.weatherOverview == 'Rain' || WeatherData.weatherOverview == 'Thunderstorm'" class="weatherWidgetRow cloudDiv1">
        <i class="fas fa-cloud-rain fa-6x cloud"></i>
    </div>
    <div *ngIf="WeatherData.weatherOverview == 'Rain' || WeatherData.weatherOverview == 'Thunderstorm'" class="weatherWidgetRow cloudDiv2">
        <i class="fas fa-cloud-rain fa-6x cloud"></i>
    </div>
    <div *ngIf="WeatherData.weatherOverview == 'Rain' || WeatherData.weatherOverview == 'Thunderstorm'" class="weatherWidgetRow cloudDiv3">
        <i class="fas fa-cloud-rain fa-6x cloud"></i>
    </div>
    <div *ngIf="WeatherData.weatherOverview == 'Rain' || WeatherData.weatherOverview == 'Thunderstorm'" class="weatherWidgetRow cloudDiv4">
        <i class="fas fa-cloud-rain fa-6x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temperatureInCelsius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.cityName}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.weatherOverview}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.weatherDescription}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.humidity}}%</div>
    
</div>